<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
	   default-autowire="byName" default-lazy-init="false">
	
		<!-- 应用属性文件读入 -->
    <bean id="applicationProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    	<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<!-- 本地开发环境配置 -->
				<value>classpath*:app-local.properties</value>
				<!-- 服务器生产环境配置 -->
                 <value>file:/data/app/webappgenerator/config/app.properties</value>
			</list>
		</property>
    </bean>
    
	<!-- PropertyPlaceholderConfigurer,用于spring ${placeholder}的解析 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="properties" ref="applicationProperties"/>
	</bean>
	
	<!-- 用于持有applicationProperties,将properties转变为静态方法使用,PropertiesHolder.getProperty("somekey") -->
	<bean class="com.github.generator.common.util.PropertiesHolder">
 		<property name="properties" ref="applicationProperties"/>
 	</bean>
	
	<!-- 数据源定义 -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="${mysql_webgenerator.jdbc.url}"/>
		<property name="username" value="${mysql_webgenerator.jdbc.username}"/>
		<property name="password" value="${mysql_webgenerator.jdbc.password}"/>		
	</bean>
	    
</beans>